body{
    background: linear-gradient(#056cd2, #f6f2f2);
    overflow: hidden;
}

button{
    width: fit-content;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #c18617;
    border-radius: 5px;
    background-color: azure;
}

button:hover{
    background: #d2052b;
}

.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    background-color: rgb(118, 120, 122);
    border-radius: 5px;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 0 20px;
    box-shadow: 0 2px 4px 0 #191919;
}

.message input{
    width: 90%;
    padding: 8px 0;
    border-radius: 8px;
    border: 1px solid #f6f2f2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}